.weekly-forecast {
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

.weekly-forecast-header {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem !important;
}

.forecast-details {
  margin-top: 1rem;
}
